body{
  background-color: #eeeeee;
}
.todolist{
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  width: 600px;
  margin: 30px auto;
}
.todolist h1{
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}
.ui-state-default{
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
}
.ui-state-default:last-child{
  border-bottom: none;
}